<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>CAMERA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>IMAGES</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>ZOOM</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="alert-outline"></ion-icon>
      <ion-label>SUGGESTION</ion-label>
    </ion-tab-button>



  </ion-tab-bar>

</ion-tabs>
