<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CAMERA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>UPLOAD FOTO</ion-card-title>
    </ion-card-header>
    IF THE PHOTO HAS UPLOADED, IT WONT BE DOUBLED
  </ion-card>

  
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let isiFoto of fotoService.dataFoto; index as position">
        <ion-card>
        <ion-img [src]="isiFoto.webviewPath"></ion-img>
          <ion-card-content>
            <ion-button (click)="clicked(isiFoto)" expand ="full"><b>UPLOAD</b></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="TambahFoto()">
      <ion-icon name="camera-outline">

      </ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
