<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item  class="ion-activated">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>NAME : WILLIAM SEAN WIYOGO</ion-label>
    </ion-item>
  
    <ion-item >
      <ion-icon name="apps-outline" slot="start"></ion-icon>
      <ion-label>NRP : C14180031</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>EMAIL : WILLIAMSEAN123@YAHOO.COM</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>HP : 081358943231</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
