<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IMAGES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title><b>CLICK THE PICTURE TO GO TO TAB 4</b></ion-card-title>
    </ion-card-header>
    
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let iFoto of urlImageStorage; index as position;let namaFoto of dataFoto">

        <ion-card>
        <ion-img [src]="iFoto" (click)="detail(iFoto)"> </ion-img>
        
        <ion-card-header>
          <ion-card-title>{{namaFoto}}</ion-card-title>
        </ion-card-header>
        </ion-card>

        

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
